<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="PandocPathEnvironment" Guid="257471ad-00ff-4332-9ee4-7dc0214ce614">
        <RegistryValue Root="HKLM"
                       Key="Software\pinvou\pinvou3"
                       Name="PandocPathEnvironment"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <Environment Id="PinvouPandocPath"
                     Name="PATH"
                     Value="[INSTALLDIR]pandoc"
                     Action="set"
                     Part="last"
                     System="yes"
                     Permanent="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
