<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="PopplerPathEnvironment" Guid="00cb4055-ccb8-4c7f-b3d9-5ddc68cdf59c">
        <RegistryValue Root="HKLM"
                       Key="Software\pinvou\pinvou3"
                       Name="PopplerPathEnvironment"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <Environment Id="PinvouPopplerPath"
                     Name="PATH"
                     Value="[INSTALLDIR]poppler"
                     Action="set"
                     Part="last"
                     System="yes"
                     Permanent="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
