<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="TesseractPathEnvironment" Guid="29d4587d-9502-4eea-9f05-e84389d2f18c">
        <RegistryValue Root="HKLM"
                       Key="Software\pinvou\pinvou3"
                       Name="TesseractPathEnvironment"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <Environment Id="PinvouTesseractPath"
                     Name="PATH"
                     Value="[INSTALLDIR]tesseract"
                     Action="set"
                     Part="last"
                     System="yes"
                     Permanent="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
